<div class="container">
  <nav class="row">
    <div class="nav-wrapper">
      <span class="brand-logo center">{{ config?.title | uppercase }}</span>
    </div>
  </nav>

  <div class="row">
    <button class="btn col s2 offset-s10">Dodajx zadanie</button>
    <button class="btn col s2 offset-s10">Zakończ</button>
  </div>

  <!--  Ponizej mamy przyklad przechwytywania obiety eventow onKeyUp($event) -->
  <!--  (keyup)="onKeyUp($event)"-->

  <!--  #nameInput   template reference(tworzymy referencje do obiektu dom)-->
<!--  (input)="(0)". Angular odświeżą strone tylko dla zdarzeń asynchronicznych w postaci http, wywolanie licznikow, eventow na stronie
      Wpisywanie tesktu nie uruchomi change detection. Dopiero podpioecie eeventu(np keyup, input)-->
  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Dodaj zadanie i datę wykonania"
      (keyup)="(0)"
      #nameInput
      [(ngModel)]="taskName"
    />
    <input class="col s2 disabled" type="date" [(ngModel)]="taskDate"/>
    <!--    <button class="btn-floating" (click)="createTask()">+</button>-->
    <!--    ponizej odwoluje sie do wartosci referencji ktora zostala utworzona-->
    <!--    Do jednego pola clic, można przypisać filka eventow, oddzielonych ;-->
    <button class="btn-floating"
            [disabled]="taskName.length && !taskDate"
            (click)="createTask()"
    >
      +
    </button>
  </div>



  <ul class="collection" *ngIf="tasks.length > 0; else noTasks">
    <li class="collection-item row" *ngFor="let task of tasks; let index = index">
      <span class="col s10"> {{index + 1}}. {{task.name}} - {{task.deadline}}</span>
      <div class="col s2 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
  </ul>

  <ng-template #noTasks>
    <h2>Dzisiaj brak zadań ;-)</h2>
    <div>Możesz wykurwiać na wykop</div>
  </ng-template>


  <!--  można odwolac się poprzez metode lub wywolac prosty kod-->
  <!--  <button class="btn red" (click)="clearTasks()" >Wyczyść</button>-->
  <button [disabled]="!tasks.length"  class="btn red" (click)="tasks = []">Wyczyść</button>

<!--  taki sam efekt jak powyżej [disabled] można byłoby osiągnać-->
<!--  <button disabled="{{!tasks.length}}"  class="btn red" (click)="tasks = []">Wyczyść</button>-->



  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">
        {{ config?.date | date: 'yyyy' }} {{ config?.footer }}
      </div>
    </div>
  </footer>
</div>

<hr/>

::{{exampleName}}::

<input type="text"
       [value]="exampleName"
       (input) = "exampleName = $event.target.value"
/>
<button  class="btn red" (click)="ownNgModel()">Own ngModel</button>


<br/>
==================================================================================================
<br/>

<container-element [ngSwitch]="valex">
  <span *ngSwitchCase="1">1</span>
  <span *ngSwitchCase="2">2</span>
  <span *ngSwitchCase="3">3</span>
  <span *ngSwitchCase="4">4</span>
  <span *ngSwitchCase="5">5</span>
  <span *ngSwitchDefault>...</span>
</container-element>

<br/>

<div *ngIf="condition; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Content to render when condition is true.</ng-template>
<ng-template #elseBlock>Content to render when condition is false.</ng-template>
