<!--Odwołanie do elementów wygenerowanych elementów-->
<!--https://angular.io/cli/generate#component-command-->
<!--przy tworzeniu nowego komponentu (tutaj app-navbar), alngular go opakowywuję w ten element. <app-navbar _ngcontent-pkl-c0="" _nghost-pkl-c1="">-->
<app-navbar></app-navbar>

<div class="container q-container">
  <app-form (add)="addQuotation($event)" (stringEvent)="stringEvent($event)" (voidEvent)="voidEvent()"></app-form>

  <app-child-reference-training #child1 [version]="1"></app-child-reference-training>
  <app-child-reference-training #child2 [version]="2"></app-child-reference-training>

  <button class="btn" (click)="child1.print()">PrintC1</button>
  <button class="btn" (click)="child2.print()">PrintC2</button>
  <button class="btn" (click)="printAllReferenceTrainingChildren()">PrintAllC</button>

  <br/>

  <div class="row">
    <!-- Lista cytatów -->
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <div class="card teal hoverable" *ngFor="let quotation of quotes; let even = even;"
               [ngClass]="even ? 'accent-4' : 'accent-5'">
            <div class="card-content white-text">
              <span class="card-title">
                {{quotation.sentence}}
              </span>
              {{quotation.author}}
            </div>
            <div class="card-action right-align">
              <span class="badge grey darken-2 left white-text">{{quotation.votes}}</span>
              <button class="btn blue mr-5" (click)="addVote(quotation, 1)">
                <i class="material-icons">exposure_plus_1</i>
              </button>
              <button class="btn brown" (click)="addVote(quotation, -1)">
                <i class="material-icons">exposure_neg_1</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Koniec lista cytatów -->

    <!-- Sekcja rankigów -->
    <div class="col s4">
      <app-ranking [quotes]="quotes" [isBest]="true"></app-ranking>
      <app-ranking [quotes]="quotes" [isBest]="false"></app-ranking>
    </div>
  </div>
</div>
